@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Salvatore';
  src: url('./fonts/Salvatore-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Salvatore';
  src: url('./fonts/Salvatore-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden !important;
  touch-action: pan-y; /* bloqueia o zoom lateral com gesto */
}

body {
  position: relative;
}

/* Corrige bug do gradiente no fundo */
.bg-gradient-to-tr {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.hover\\:scale-105:hover {
  transform: scale(1.05);
  overflow: hidden;
}


 